
body{
    background-color: lightseagreen;
}

#header {
    color: orangered;
    font-family: verdana;
    font-size: 100%;
}

#div  {
    color: orangered;
    font-family: courier;
    font-size: 160%;
}

#table  {
    color: orangered;
    font-family: courier;
    font-size: 160%;
}

